# Python general
__pycache__/
*.pyc

# PDM
.pdm.toml
.pdm-build/
.venv

# Logs
logs/
*.log

# User-specific config
config/config.xml

# Output files
*.csv
*.txt

# OS-specific files
.DS_Store
Thumbs.db